<div class="texto-form">
    <img src="./assets/img/bg_foto.jpeg" alt="">
    <div class="info-form">
        <h1>Contactanos</h1>
    </div>
</div>
<div class="acupaz__formulario">
    <div class="cont-all-formulario">
        <div class="cont-formulraio">
            <form action="">
                <div class="name">
                    <input type="text" name="name" autocomplete="off" required>
                    <label for="name" class="label-name">
                        <span class="cont-name">Nombre</span>
                    </label>
                </div>
                <div class="name">
                    <input type="email" name="name" autocomplete="off" required>
                    <label for="name" class="label-name">
                        <span class="cont-name">Correo</span>
                    </label>
                </div>
                <div class="name">
                    <input type="text" name="name" autocomplete="off" required>
                    <label for="name" class="label-name">
                        <span class="cont-name">Tema</span>
                    </label>
                </div>
                <div class="tarea">
                    <textarea name="mensaje" id="" autocomplete="off"></textarea>
                    <label for="mensaje" class="label-name">
                        <span class="cont-name">Mensaje</span>
                    </label>
                </div>
                <button type="submit">Enviar</button>
            </form>
        </div>
        <div class="cont-info-formulario">
            <div class="redes-person2">
                <a href="https://www.instagram.com/" data-tooltip-text="Instagram" class="info" target="_blank"><i class="fa fa-instagram"></i></a>
                <a href="https://www.facebook.com/" data-tooltip-text="Facebook" class="info" target="_blank"><i class="fa fa-facebook-square"></i></a>
            </div>
            <div class="item-form">
                <h3>Correo</h3>
                <span>ecupazcolombia@gmail.com</span><br>
            </div>
        </div>
    </div>
</div>