<section class="slideshow">
    <ul class="slider">
         <li>
            <div class="caption">
                <img src="./assets/img/foto 1.jpg" alt="">
                <h2>SEMBRAMOS PAÍS, TRANSFORMAMOS REALIDADES, RECONSTRUIMOS TEJIDO SOCIAL</h2>
            </div>
        </li>
        <li>
            <div class="caption">
                <img src="./assets/img/Foto 2.jpg" alt="">
                <h2>SEMBRAMOS PAÍS, TRANSFORMAMOS REALIDADES, RECONSTRUIMOS TEJIDO SOCIAL</h2>
            </div>
        </li>
        <li>
            <div class="caption">
                <img src="./assets/img/Foto 4.jpg" alt="">
                <h2>SEMBRAMOS PAÍS, TRANSFORMAMOS REALIDADES, RECONSTRUIMOS TEJIDO SOCIAL</h2>
            </div>
        </li>
    </ul>
    <ol class="pagination"></ol>
    <div class="left">
    </div>
    <div class="right">
    </div>
</section>
<main>
    <section>
        <div class="nosotros">
            <ul class="nosotros__captions">
                <li class="nosotros__caption_uno">
                    <div class="caption_uno_img">
                        <div></div>
                        <img src="./assets/img/ICON-ECUPAZ.png" alt="">
                    </div>
                    <div class="caption_uno_texto">
                        <h3>NOSOTROS</h3>
                        <p>Somos ECUPAZ, un equipo de personas interesadas en contribuir a la mejora de la calidad de vida de sujetos y comunidades en situación de vulnerabilidad y a la población en general, especialmente en los territorios que han sido afectados por el conflicto armado, aportando a la transformación de conflictividades socioambientales en oportunidades de cambio para promover el desarrollo ecológico y la construcción de paz territorial; facilitando escenarios que conduzcan a la materialización de los Objetivos de Desarrollo Sostenible (ODS).</p>
                    </div>
                </li>
                <li class="nosotros__caption_uno">
                    <div class="caption_uno_img">
                        <div></div>
                        <img src="./assets/img/ICON-ECUPAZ.png" alt="">
                    </div>
                    <div class="caption_uno_texto">
                        <h3>Visión</h3>
                        <p>Somos ECUPAZ, un equipo de personas interesadas en contribuir a la mejora de la calidad de vida de sujetos y comunidades en situación de vulnerabilidad y a la población en general, especialmente en los territorios que han sido afectados por el conflicto armado, aportando a la transformación de conflictividades socioambientales en oportunidades de cambio para promover el desarrollo ecológico y la construcción de paz territorial; facilitando escenarios que conduzcan a la materialización de los Objetivos de Desarrollo Sostenible (ODS).</p>
                    </div>
                </li>
                <li class="nosotros__caption_uno">
                    <div class="caption_uno_img">
                        <div></div>
                        <img src="./assets/img/ICON-ECUPAZ.png" alt="">
                    </div>
                    <div class="caption_uno_texto">
                        <h3>Nuestros valores</h3>
                        <p>Somos ECUPAZ, un equipo de personas interesadas en contribuir a la mejora de la calidad de vida de sujetos y comunidades en situación de vulnerabilidad y a la población en general, especialmente en los territorios que han sido afectados por el conflicto armado, aportando a la transformación de conflictividades socioambientales en oportunidades de cambio para promover el desarrollo ecológico y la construcción de paz territorial; facilitando escenarios que conduzcan a la materialización de los Objetivos de Desarrollo Sostenible (ODS).</p>
                    </div>
                </li>
            </ul>
            <div class="nosotros_botones">
                <ul class="cont__botones">
                    <li>Nosotros</li>
                    <li>Visión</li>
                    <li>Nuestros valores</li>
                </ul>
            </div>
        </div>
        <div class="equipo">
            <h2>hola</h2>
        </div>
    </section>
</main>
