<section class="slideshow">
    <ul class="slider">
         <li>
            <div class="caption">
                <img src="./assets/img/foto 1.jpg" alt="">
                <h2>SEMBRAMOS PAÍS, TRANSFORMAMOS REALIDADES, RECONSTRUIMOS TEJIDO SOCIAL</h2>
            </div>
        </li>
        <li>
            <div class="caption">
                <img src="./assets/img/Foto 2.jpg" alt="">
                <h2>SEMBRAMOS PAÍS, TRANSFORMAMOS REALIDADES, RECONSTRUIMOS TEJIDO SOCIAL</h2>
            </div>
        </li>
        <li>
            <div class="caption">
                <img src="./assets/img/Foto 4.jpg" alt="">
                <h2>SEMBRAMOS PAÍS, TRANSFORMAMOS REALIDADES, RECONSTRUIMOS TEJIDO SOCIAL</h2>
            </div>
        </li>
    </ul>
    <ol class="pagination"></ol>
    <div class="left">
    </div>
    <div class="right">
    </div>
</section>
<main>
    <section>
        <div class="nosotros" id="valores">
            <ul class="nosotros__captions">
                <li class="nosotros__caption_uno">
                    <div class="caption_uno_img">
                        <div class="borde__azul"></div>
                        <img src="./assets/img/ICON-ECUPAZ.png" alt="">
                    </div>
                    <div class="caption_uno_texto">
                        <h3>NOSOTROS</h3>
                        <p>Somos ECUPAZ, un equipo de personas interesadas en contribuir a la mejora de la calidad de vida de sujetos y comunidades en situación de vulnerabilidad y a la población en general, especialmente en los territorios que han sido afectados por el conflicto armado, aportando a la transformación de conflictividades socioambientales en oportunidades de cambio para promover el desarrollo ecológico y la construcción de paz territorial; facilitando escenarios que conduzcan a la materialización de los Objetivos de Desarrollo Sostenible (ODS).</p>
                    </div>
                </li>
                <li class="nosotros__caption_dos">
                    <div class="caption_dos_img">
                        <img src="./assets/img/icon_3.png" alt="">
                        <h3>MISIÓN</h3>
                        <div class="cont_img_dos">
                            <img src="./assets/img/foto 5.jpg" alt="">
                        </div>
                    </div>
                    <div class="caption_dos_texto">
                        <p>Promover por medio de programas, proyectos e investigaciones la transformación de conflictividades socioambientales como oportunidades de cambio, aportando, de la mano con los sujetos y comunida- des, al desarrollo ecológico y la construcción de paz desde los territorios; esto, a través del trabajo con enfoque diferencial, de inclusión social y de derechos humanos y territoriales. Implementamos estrategias innovadoras y sostenibles dirigidas hacia la conservación y restauración del patrimonio natural y cultural, y además a la promoción de salud y acompañamiento psicosocial, siendo todo inherente al buen vivir y al fortalecimiento del tejido soc</p>
                        <div class="borde__azul2"></div>
                    </div>
                </li>
                <li class="nosotros__caption_dos">
                    <div class="caption_dos_texto">
                        <p>Crecer y progresar estructural y técnicamente gracias al compromiso y desarrollo continuo, estando comprometidos con procesos socioambientalmente responsables y de diálogo de saberes desde los territorios. ECUPAZ obtendrá reconocimiento local, regional e internacional, por la materialización de objetivos y compromisos, y la implementación de soluciones innovadoras y eficientes, destacando  por la calidad y por su actuar con enfoque interdisciplinar, profesional y solidario.</p>
                        <div class="borde__azul2"></div>
                    </div>
                    <div class="caption_dos_img">
                        <img src="./assets/img/icon_1.svg" alt="">
                        <h3>VISIÓN</h3>
                        <div class="cont_img_dos">
                            <img src="./assets/img/foto 6.jpg" alt="">
                        </div>
                    </div>
                </li>
                <li class="nosotros__caption_tres">
                    <div class="caption_tres_titulo">
                        <h3>Nuestros valores</h3>
                        <img src="./assets/img/icon_2.svg" alt="">
                    </div>
                    <div class="caption_img_text">
                        <div class="caption_tres_texto">
                            <p>Enfoque Integrador, Responsabilidad Socioambiental, Solidaridad, y Cooperación, Ética y Honestidad.</p>
                            <div class="borde__azul3"></div>
                        </div>
                        <div class="cont_all_img_tres">
                            <div class="cont_img_dos">
                                <img src="./assets/img/foto 7.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="nosotros_botones">
                <ul class="cont__botones">
                    <li>Misión</li>
                    <li>Visión</li>
                    <li>Nuestros valores</li>
                </ul>
            </div>
        </div>
        <div class="equipo" id="equipo">
            <div class="cont_all_equipo">
                <figure class="equipo__cara_a">
                    <figcaption>
                        <h2>EQUIPO</h2>
                        <i class="fa fa-angle-right active_equipo"></i>
                    </figcaption>
                    <img src="./assets/img/foto 7a.jpeg" alt="">
                </figure>
                <div class="equipo__cara_b">
                    <div class="equipo__card_content">
                        <figure class="equipo_card">
                            <div class="card__img">
                                <img src="./assets/img/user_woman.png" alt="">
                            </div>
                            <figcaption>
                                <h3>Natali <br>
                                    Aristizábal Lancheros
                                </h3>
                                <p>Directora y Fundadora</p>
                            </figcaption>
                        </figure>
                        <figure class="equipo_card">
                            <div class="card__img">
                                <img src="./assets/img/user_woman.png" alt="">
                            </div>
                            <figcaption>
                                <h3>Deissy Catalina <br>
                                    Aristizábal Lancheros
                                </h3>
                                <p>Subdirectora y Cofundadora</p>
                            </figcaption>
                        </figure>
                        <figure class="equipo_card">
                            <div class="card__img">
                                <img src="./assets/img/user_woman.png" alt="">
                            </div>
                            <figcaption>
                                <h3>Johana <br>
                                    Rincón Lozano
                                </h3>
                                <p>Coordinadora de programas <br>
                                    y proyectos</p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="modal" id="modal">
                <div class="cont_modal">
                    <div class="modal_titulo">
                        <h3 id="modal_nombre">Natali Aristizábal Lancheros</h3>
                        <p id="modal_cargo">Directora y Fundadora</p>
                    </div>
                    <div class="cont_all_modal">
                        <div class="con_text_modal">
                            <p id="modal_texto"></p>
                            <div class="borde__azul3"></div>    
                        </div>
                        <div class="modal_img" id="modal_img">
                            <img src="assets/img/user_woman.png" class="modal__img">
                        </div>
                    </div>
                </div>
                <div class="modal__boton" id="modal__boton">
                    <i class="fa fa-times-circle"></i>
                </div>
            </div>
        </div>
    </section>
</main>
<section class="aliados" id="aliados">
    <div class="cont__aliados">
        <h2>Nuestros <br> 
            Aliados</h2>
        <ul>
            <li><h5>Cámara Ambiental del Plástico </h5><a href="https://web.facebook.com/AsoQuinti" target="_blank">https://web.facebook.com/AsoQuinti</a></li>
            <li><h5>Cámara Ambiental del Plástico </h5><a href="https://web.facebook.com/CamaraAmbientaldelPlastico" target="_blank">https://web.facebook.com/CamaraAmbientaldelPlastico</a></li>
            <li><h5>Guardianes del Bosque </h5><a href=" https://web.facebook.com/Guardianes-del-bosque-amazoni- co-102127714948219" target="_blank"> https://web.facebook.com/Guardianes-del-bosque-amazoni- co-102127714948219</a></li>
            <li><h5>Frit`s Jack ́s </h5><a href="https://instagram.com/frits.jacks?igshid=1t39719953mh2" target="_blank">https://instagram.com/frits.jacks?igshid=1t39719953mh2</a></li>
            <li><h5>Apicultura El Rey </h5><a href="https://web.facebook.com/MielAmazonica?_rdc=1&_rdr" target="_blank">https://web.facebook.com/MielAmazonica?_rdc=1&_rdr</a></li>
            <li><h5>Avivabejas S.A.S Zomac </h5><a href="http://avivabejas.com" target="_blank">http://avivabejas.com</a></li>
        </ul>
    </div>
</section>
