/*Importar Fuentes*/
@font-face{
    font-family: "futura-book";
    src: url("../fonts/futura-book.ttf");
}
@font-face{
    font-family: "futura-heavy";
    src: url("../fonts/futura-heavy.ttf");
}
/*Estilos Generales*/
*,
::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
    font-family: "futura-heavy", Arial, Helvetica, sans-serif;
}
body{
    font-family: "futura-book", Arial, Helvetica, sans-serif;
}
.menu{
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1em;
    background-color: #fff;
    border-bottom: 1px solid #6D9EB3;
}
.menu__logo{
    height: 120px;
    min-width: 20%;
    justify-content: left;
}
.menu__logo a{
    display: inline-block;
    height: 100%;
}
.menu__logo img{
    height: 100%;
    object-fit: contain;
}
.menu__items{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    width: 70%;
    flex-wrap: wrap;
}
.menu__items li{
    padding: 1em ;
    color: #6D9EB3;
    text-align: center;
}
.menu__items li{
    cursor: pointer;
    outline: none;
}
.menu__items li a{
    color: #6D9EB3;
    text-decoration: none;
}

