/*Importar Fuentes*/
@font-face{
    font-family: "futura-book";
    src: url("../fonts/futura-book.ttf");
}
@font-face{
    font-family: "futura-heavy";
    src: url("../fonts/futura-heavy.ttf");
}
/*Estilos Generales*/
*,
::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
    font-family: "futura-heavy", Arial, Helvetica, sans-serif;
}
body{
    font-family: "futura-book", Arial, Helvetica, sans-serif;
}
.menu{
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1em;
    background-color: #fff;
    border-bottom: 1px solid #6D9EB3;
    position: relative;
    z-index: 100;
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, .35);
}
.menu__logo{
    height: 120px;
    min-width: 20%;
    justify-content: left;
    outline: none;
    cursor: pointer;
}
.menu__logo a{
    display: inline-block;
    height: 100%;
}
.menu__logo img{
    height: 100%;
    object-fit: contain;
}
.menu__items{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    width: 70%;
    flex-wrap: wrap;
}
.menu__items li{
    padding: 1em ;
    color: #6D9EB3;
    text-align: center;
    cursor: pointer;
    outline: none;
    transition: all .3s ease-out;
}
.menu__items li:hover{
    background: #e7f3f8;
}
.menu__items li a{
    color: #6D9EB3;
    text-decoration: none;
}
.menu__icon{
    position: absolute;
    display: none;
    cursor: pointer;
    width: 30px;
    height: 25px;
    top: 35px;
    right: 1.5em;
}
.menu__icon_content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;    
}
.menu__icon_content div{
    width: 100%;
    height: 20%;
    border-radius: 5px;
    background-color: #6D9EB3;
    transition: all .3s ease-out;
}
@media screen and (max-width: 1000px) {
    .menu__logo{
        height: 100px;
    }
    .menu{
        flex-direction: column;
    }
    .menu__items{
        width: 90%;
    }
}
@media screen and (max-width: 650px) {
    .menu__logo{
        height: 80px;
    }
    .menu{
        flex-direction: column;
    }
    .menu__items{
        width: 100%;
        flex-direction: column;
        max-height: 0;
        overflow: hidden;
        transition: all .3s ease-out;
        position: absolute;
        left: 0;
        top: 97px;
        background:#fff;
        align-items: center;
    }
    .menu__items li{
        width: 100%;
        text-align: left;
        padding: 0.5em 1em;
        border-bottom: 0.1px solid #e0eaee;
    }
    .active__menu{
        max-height: 400px;
    }
    .active__icon div:first-child{
        position: absolute;
        top: 50%;
        left: 0;
        transform: rotate(45deg) translateY(-50%) ;
        transform-origin: center top;
    }
    .active__icon div:nth-child(2){
        width: 0;
    }
    .active__icon div:last-child{
        position: absolute;
        top: 50%;
        left: 0;
        transform: rotate(-45deg) translateY(-50%);
        transform-origin: center top;
    }
    
    .menu__icon{
        display: inherit;
    }
}