<section class="trabajo" style="background-image: url(./assets/img/bg_foto.jpeg)">
    <div class="trabajo_titulo">
        <h1>Nuestro trabajo</h1>
        <img src="assets/img/icon_10_blanco.png" alt="">
    </div>
    <div class="trabajo_ejes">
        <div class="ejes_texto">
            <h2>EJES ESTRATÉGICOS</h2>
            <p>En el marco de nuestra filosofía del servir a la sociedad y a los territorios, de la mano de las comunidades y del sector público y privado, ECUPAZ promueve por medio de cinco ejes estratégicos escenarios de transformación en:</p>
        </div>
        <div class="borde__azul4"></div> 
    </div>
    <div class="cont_por_ejes">
        <div class="items_ejes">
            <div class="item_eje">
                <div class="eje_img"><img src="./assets/img/icon_4_blanco.png" alt=""></div>
                <div class="eje_titulo">
                    <h3>CONSTRUCCIÓN DE PAZ TERRITORIAL</h3>
                </div>
                <a href="#ejes"></a>
            </div>
            <div class="item_eje">
                <div class="eje_img"><img src="./assets/img/icon_5_blanco.png" alt=""></div>
                <div class="eje_titulo">
                    <h3>TURISMO Y PERMACULTURA</h3>
                </div>
                <a href="#ejes"></a>
            </div>
            <div class="item_eje">
                <div class="eje_img"><img src="./assets/img/icon_6_blanco.png" alt=""></div>
                <div class="eje_titulo">
                    <h3>INVESTIGACIÓN Y PEDAGOGÍA</h3>
                </div>
                <a href="#ejes"></a>
            </div>
            <div class="item_eje">
                <div class="eje_img"><img src="./assets/img/icon_7_blanco.png" alt=""></div>
                <div class="eje_titulo">
                    <h3>ACOMPAÑAMIENTO Y SALUD PSICOSOCIAL</h3>
                </div>
                <a href="#ejes"></a>
            </div>
            <div class="item_eje">
                <div class="eje_img"><img src="./assets/img/icon_8_blanco.png" alt=""></div>
                <div class="eje_titulo">
                    <h3>ASESORÍA Y CONSULTORÍA AMBIENTAL</h3>
                </div>
                <a href="#ejes"></a>
            </div>
            <div class="item_eje">
                <div class="eje_img"><img src="./assets/img/icon_9_blanco.png" alt=""></div>
                <div class="eje_titulo">
                    <h3>COMUNICACIÓN TRANSFORMADORA</h3>
                </div>
                <a href="#ejes"></a>
            </div>
        </div>
    </div>
</section>
<main>
    <span class="ir-arriba"><i class="fa fa-chevron-up"></i></span>
    <div class="content-todos-ejes" id="ejes">
        <div class="item_resul_eje">
            <div class="resul_part_one " style="background-image: url('/assets/img/fondo.jpg')">
                <div class="part_img">
                    <img src="./assets/img/foto 8.jpg" alt="">
                </div>
                <div class="part_text">
                    <div class="text_img">
                        <img src="./assets/img/icon_4_color.png" alt="">
                    </div>
                    <h3 style="color: #6D9CB1">CONSTRUCCIÓN DE PAZ TERRITORIAL</h3>
                    <p>Nos inspiramos en el potencial de los sujetos, comunidades y del territorio, comprendiendo desde lo local sus necesidades y realidades, para así contribuir en la cocreación de espacios activos y participativos enfocados en la construcción de paz. El programa articula los diferentes sectores y esferas sociales, trabajando desde el enfoque diferencial, la inclusión y la acción sin daño, que contemplan los derechos individuales, colectivos y territoriales.</p>
                </div>
            </div>
            <div class="resul_part_two">
                <p style="color: #8ABD8A">Asesoramos, formulamos e implementamos proyectos con enfoque en:</p>
                <ul>
                    <li>Transformación de conflictos socioambientales y paz territorial.</li>
                    <li>Mejoramiento y dignificación de condiciones y calidad de vida para poblaciones en situación de vulnerabilidad.</li>
                    <li>Proyectos enfocados en diferentes esferas y sectores sociales desde la perspectiva de construcción de paz, equidad e inclusión social, entre otros.</li>
                    <li>Conservación, preservación y restauración del patrimonio natural, cultural y/o biocultural. Construcción de confianza y activación de la responsabilidad socioambiental.</li>
                    <li>Investigación de la mano de la academia para realizar diagnósticos y procesos de apoyo regional.</li>
                    <li>Economía circular y solidaria, cultura regenerativa, independencia financiera y biocomercio.</li>
                    <li>Políticas públicas que aporten a los Objetivos de Desarrollo Sostenible.</li>
                </ul>
            </div>
        </div>
        <div class="item_resul_eje">
            <div class="resul_part_one row-reverse">
                <div class="part_img">
                    <img src="./assets/img/foto 9.jpg" alt="">
                </div>
                <div class="part_text">
                    <div class="text_img">
                        <img src="./assets/img/icon_5_color.png" alt="">
                    </div>
                    <h3 style="color: #8ABD8A">TURISMO Y PERMACULTURA</h3>
                    <p>Deseamos la construcción de escenarios de esperanza, visibilizando y fortaleciendo procesos que muestren otra cara del territorio, buscamos que se desarrollen proyectos turísticos basados en los principios de la permacultura, por lo tanto, compatibles con los Objetivos del Desarrollo Sostenible. Esto desde alianzas multisectoriales, fomentando la economía circular y la activación de la responsabilidad socioambiental. </p>
                </div>
            </div>
            <div class="resul_part_two " style="background-image: url('/assets/img/fondo.jpg')">
                <p style="color: #6D9CB1">Ofrecemos asesorías, diagnósticos, diseños y ejecución de proyectos de los siguientes tipos:</p>
                <ul>
                    <li>Turismo ecológico, sostenible, de naturaleza, científico-investigativo, comunitario, agroturismo, biocultural, entre otros, promoviendo los principios de la permacultura.</li>
                    <li>Proyectos de preservación, conservación y restauración del patrimonio cultural y natural para el fortalecimiento y visibilización del potencial turístico del territorio y sus comunidades.</li>
                    <li>Alianzas con la academia para la promoción del turismo comunitario, sostenible y del bioturismo desde lo local.</li>
                    <li>Políticas públicas para el sector del turismo acordes con los Objetivos de Desarrollo Sostenible.</li>
                    <li>Promoción de vivencia e intercambio de conocimientos, trabajo y experiencias de vida con turistas y voluntarios nacionales y extranjeros.</li>
                    <li>Promoción de alianzas estratégicas multisectoriales enfocadas al fomento del turismo</li>
                </ul>
            </div>
        </div>
        <div class="item_resul_eje">
            <div class="resul_part_one " style="background-image: url('/assets/img/fondo.jpg')">
                <div class="part_img">
                    <img src="./assets/img/foto10.jpg" alt="">
                </div>
                <div class="part_text">
                    <div class="text_img">
                        <img src="./assets/img/icon_6_color.png" alt="">
                    </div>
                    <h3 style="color: #6D9CB1"> INVESTIGACIÓN Y PEDAGOGÍA</h3>
                    <p>Creemos que la equidad y la inclusión social se logra a través de la educación y la convergencia entre los diferentes tipos de conocimiento: teórico-científico, tradicional y empírico. Somos facilitadores para la construcción de este conocimiento desde lo colectivo, buscamos la participación de los involucrados para que emerja una comprensión de la complejidad de las dinámicas socioambientales y las transformaciones necesarias desde lo local.</p>
                </div>
            </div>
            <div class="resul_part_two">
                <p style="color: #8ABD8A">Tenemos programas que apoyan en diagnóstico, investigación, diseño y ejecución de proyectos en los siguientes ámbitos:</p>
                <ul>
                    <li>Condiciones ambientales, económicas, culturales y sociales de las comunidades y territorios.</li>
                    <li>Eventos académicos en temas relacionados con todos los ejes que ofrece nuestra organización y lo concomitante con los Objetivos de Desarrollo Sostenible.</li>
                    <li>Etnoeducación</li>
                    <li>Capacitación, sensibilización y procesos pedagógicos para la sociedad civil y las instituciones públicas y privadas en enfoque diferencial, inclusión social, derechos individuales, colectivos y territoriales, entre otros.</li>
                    <li>Permacultura, por ejemplo: techos verdes, aprovechamiento del agua y bioconstrucciones, entre otros.</li>
                    <li>Campañas de educación ambiental y fomento de prácticas amigables con el medio ambiente para mitigación de impactos generados por el hombre.</li>
                    <li>Políticas públicas en educación ambiental <br> 
                        PRAES, PROCEDAS y CIDEAS.</li>
                    <li>Capacitación y fortalecimiento para promotores y líderes ambientales</li>
                </ul>
            </div>
        </div>
        <div class="item_resul_eje">
            <div class="resul_part_one row-reverse">
                <div class="part_img">
                    <img src="./assets/img/foto10.jpg" alt="">
                </div>
                <div class="part_text">
                    <div class="text_img">
                        <img src="./assets/img/icon_7_color.png" alt="">
                    </div>
                    <h3 style="color: #8ABD8A"> ACOMPAÑAMIENTO Y SALUD PSICOSOCIAL</h3>
                    <p>Nos enfocamos en los individuos, las familias y las comunidades. Sabemos que las situaciones de vulnerabilidad y el conflicto armado generan impactos que deben ser sanados, visibilizados y reparados para reconstruir el tejido social.</p>
                    <p>Facilitamos espacios para que todas las personas puedan acceder a servicios de acompañamiento terapéutico y psicosocial, donde se trabaja la salud emocional. Buscamos que sean procesos replicables para la reconciliación, dignificación, reparación y construcción de confianza desde los territorios.</p>
                </div>
            </div>
            <div class="resul_part_two " style="background-image: url('/assets/img/fondo.jpg')">
                <p style="color: #6D9CB1">Las áreas de trabajo son las siguientes:</p>
                <ul>
                    <li>Salud sexual y reproductiva.</li>
                    <li>Prevención de consumo de sustancias psicoactivas.</li>
                    <li>Violencia de género.</li>
                    <li>Acompañamiento sicosocial a personas y familias víctimas de desplazamiento forzado y migración.</li>
                    <li>Procesos de sanación, reconciliación, construcción de confianza y resiliencia en el marco del posconflicto.</li>
                    <li>Violencia intrafamiliar.</li>
                    <li>Violencia sexual.</li>
                    <li>Prevención del abuso y explotación sexual en niños, niñas y jóvenes.</li>
                    <li>Promoción de la cultura, el arte y el deporte.</li>
                </ul>
            </div>
        </div>
        <div class="item_resul_eje">
            <div class="resul_part_one " style="background-image: url('/assets/img/fondo.jpg')">
                <div class="part_img">
                    <img src="./assets/img/foto11.jpg" alt="">
                </div>
                <div class="part_text">
                    <div class="text_img">
                        <img src="./assets/img/icon_8_color.png" alt="">
                    </div>
                    <h3 style="color: #6D9CB1"> ASESORÍA Y CONSULTORÍA AMBIENTAL</h3>
                    <p>Queremos generar un cambio positivo en los hábitos de consumo procurando la reducción, reutilización y aprovechamiento de los residuos generados por el consumo humano. Ofrecemos asesorías, consultorías y trámites relacionado con la optimización de los recursos y el cumplimiento de las normativas vigentes.</p>
                </div>
            </div>
            <div class="resul_part_two">
                <p style="color: #8ABD8A">Otros de los proyectos que apoyamos son:</p>
                <ul>
                    <li>Estudios de Impacto Ambiental</li>
                    <li>Planes de Manejo Ambiental</li>
                    <li>Diagnóstico Ambiental de Alternativas</li>
                    <li>Medidas de Manejo Ambiental</li>
                    <li>Monitores ambientales en calidad de agua, hidrología, suelos y atmósfera.</li>
                    <li>Preservación, conservación y restauración ecosistémica.</li>
                    <li>Interventoría ambiental</li>
                    <li>Análisis de ciclo de vida por producto o servicio (ISO 14040)</li>
                    <li>Estudios de Paisaje y servicios ecosistémicos: cartografía especializada y procesamiento de</li>
                    <li>bases de datos geográficas espaciales (GDB)</li>
                    <li>Adaptación a cambio climático.</li>
                    <li>Manejo de áreas protegidas y ecosistemas estratégicos.</li>
                    <li>Restauración ecológica, forestería comunitaria, banco especies, entre otros</li>
                    <li>Oferta, demanda y valoración de bienes y servicios ecosistémicos.</li>
                    <li>Legislación, técnicas de manipulación y primeros auxilios de especies</li>
                    <li>Fortalecimiento de la agricultura urbana.</li>
                    <li>Diagnóstico entomológico de plagas para cultivos agrícolas y forestales</li>
                    <li>Plan de Gestión Integral de Residuos Sólidos (PGIRS)</li>
                    <li>Manejos de residuos sólidos en procesos de producción.</li>
                    <li>Tratamiento y aprovechamiento de residuos orgánicos para organizaciones y hogares (com- postaje)</li>
                    <li>Promoción de alimentación sana.</li>
                    <li>Procesos artísticos y deportivos enfocados en sanación y reconciliación</li>
                </ul>
            </div>
        </div>
        <div class="item_resul_eje">
            <div class="resul_part_one row-reverse">
                <div class="part_img">
                    <img src="./assets/img/foto12.jpg" alt="">
                </div>
                <div class="part_text">
                    <div class="text_img">
                        <img src="./assets/img/icon_9_color.png" alt="">
                    </div>
                    <h3 style="color: #8ABD8A"> COMUNICACIÓN TRANSFORMADORA</h3>
                    <p>En nuestra búsqueda del mejoramiento de la calidad de vida y de la promoción de los derechos de las comunidades, deseamos articular a todas al personas y entidades que estén interesadas en contribuir valores compartidos, equidad y bienestar social, para la producción y difusión de contenidos valiosos en los diferentes medios de comunicación disponibles.</p>                
                    <p>
                        Mediante el uso de las tecnologías de la información, esperamos ampliar el acceso a la producción y c onsumo de los activos culturales de toda la comunidad, buscando la participación de las diferentes expresiones que habitan en el territorio.</p>
                </div>
            </div>
            <div class="resul_part_two " style="background-image: url('/assets/img/fondo.jpg')">
                <p style="color: #6D9CB1">Los proyectos de esta área en los que podemos contribuir son:</p>
                <ul>
                    <li>Identificación de necesidades y capacidades de las audiencias</li>
                    <li>Construcción de estrategias y componentes de comunicación específicos</li>
                    <li>Identificación de canales de comunicación que fortalezcan el desarrollo de proyectos</li>
                    <li>Análisis de circuitos comunicativos</li>
                    <li>Estrategias comunicativas</li>
                    <li>Producción, monitoreo y evaluación de contenidos.</li>
                    <li>Realización audiovisual</li>
                    <li>Fotografía</li>
                    <li>Medios digitales</li>
                    <li>Campañas de bien público.</li>
                </ul>
            </div>
        </div>
    </div>
</main>