<header class="menu">
  <div class="menu__logo" a [routerLink]="['/Inicio']">
      <img src="./assets/img/Logo_ECUPAZ_Horizontal.png" alt="">
  </div>
  <div class="menu__icon">
    <div class="menu__icon_content">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <ul class="menu__items">
    <li a [routerLink]="['/Inicio']">ECUPAZ</li>
    <li><a href="#index">Nuestros Valores</a></li>
    <li> <a href="#">Equipo</a></li>
    <li a [routerLink]="['/Nuestro_Trabajo']">Nuestro Trabajo</li>
    <li a [routerLink]="['/Experiencias']">Experiencias</li>
    <li><a href="#">Nuestros Aliados</a> </li>
    <li a [routerLink]="['/Recursos']">Recursos</li>
    <li><a href="#">Apoyanos</a></li>
    <li a [routerLink]="['/Contactanos']">Contácto</li>
  </ul>
</header>
<router-outlet></router-outlet>