<section class="slideshow">
    <ul class="slider2">
         <li>
            <div class="caption">
                <img src="./assets/img/foto13.jpg" alt="" class="img_slider">
                <div class="cont_slider_text">
                    <img src="./assets/img/icon_12_blanco.png" alt="" class="img_text">
                    <h2>EXPERIENCIAS</h2>
                </div>
            </div>
        </li>
        <li>
            <div class="caption">
                <img src="./assets/img/foto14.jpg" alt="" class="img_slider">
            </div>
        </li>
        <li>
            <div class="caption">
                <img src="./assets/img/foto15.jpg" alt="" class="img_slider">
            </div>
        </li>
        <li>
            <div class="caption">
                <img src="./assets/img/foto16.jpg" alt="" class="img_slider">
            </div>
        </li>
        <li>
            <div class="caption">
                <img src="./assets/img/foto17.jpg" alt="" class="img_slider">
            </div>
        </li>
        <li>
            <div class="caption">
                <img src="./assets/img/foto18.jpg" alt="" class="img_slider">
            </div>
        </li>
    </ul>
    <ol class="pagination2"></ol>
    <div class="left">
    </div>
    <div class="right">
    </div>
</section>
<main class="experiencia">
    <div class="item_experiencia">
        <h2 id="titulo_experiencias" >ASOCIACIÓN TURÍSTICA TANGARA PARAISO DE SIETE COLORES</h2>
        <div class="caption_dos_texto">
            <p id="texto_experiencias">La Asociación Turística Tangara Paraíso de Siete Colores, nace desde la iniciativa y el interés de varias familias de la vereda Kanakas, en el municipio de Puerto Asís – Putumayo, como una alternativa económica sostenible, que tiene como objeto promover procesos de desarrollo social, articulando el Turismo Sostenible como herramienta y estrategia de conservación y restauración de los ecosistemas, salvaguardado el patrimonio natural y cultural de la región. 
                Trabajamos mancomunadamente, para aportar desde ECUPAZ a las prioridades de la comunidad, promoviendo también la autogestión e independencia financiera de los sujetos y familias asociadas, facilitando escenarios de construcción conjunta en pro de la ciencia, del desarrollo socioambiental, económico y de construcción de paz desde los territorios. 
                </p>
            <div class="borde__azul"></div>
        </div>
    </div>
    <div class="item_experiencia">
        <h2 id="titulo_experiencias" >PROGRAMA EKOPLASTIC</h2>
        <div class="caption_dos_texto">
            <p id="texto_experiencias">El programa Ekoplastic surge de la iniciativa de personas interesadas en contribuir al desarrollo ambiental y social del municipio de Puerto Asís - Putumayo, de la mano con la comunidad, teniendo como eje principal la Educación Ambiental masiva y de impacto, promoviendo una cultura ciudadana más amigable con el ambiente y sostenible. Desde ECUPAZ apoyamos por medio de la facilitación y articulación de procesos para promover esta alternativa que muestra que el camino es desde la educación y desde lo local.</p>
            <div class="borde__azul"></div>
        </div>
    </div>
</main>
