<section class="slideshow">
    <ul class="slider">
         <li>
            <div class="caption">
                <img src="./assets/img/foto13.jpg" alt="" class="img_slider">
                <div class="cont_slider_text">
                    <img src="./assets/img/icon_12_blanco.png" alt="" class="img_text">
                    <h2>EXPERIENCIAS</h2>
                </div>
            </div>
        </li>
        <li>
            <div class="caption">
                <img src="./assets/img/foto14.jpg" alt="" class="img_slider">
            </div>
        </li>
        <li>
            <div class="caption">
                <img src="./assets/img/foto15.jpg" alt="" class="img_slider">
            </div>
        </li>
        <li>
            <div class="caption">
                <img src="./assets/img/foto16.jpg" alt="" class="img_slider">
            </div>
        </li>
        <li>
            <div class="caption">
                <img src="./assets/img/foto17.jpg" alt="" class="img_slider">
            </div>
        </li>
        <li>
            <div class="caption">
                <img src="./assets/img/foto18.jpg" alt="" class="img_slider">
            </div>
        </li>
    </ul>
    <ol class="pagination"></ol>
    <div class="left">
    </div>
    <div class="right">
    </div>
</section>
<main class="experiencia">
    <div class="item_experiencia">
        <h2 id="titulo_experiencias" >ASOCIACIÓN TURÍSTICA TANGARA PARAISO DE SIETE COLORES</h2>
        <div class="caption_dos_texto">
            <p id="texto_experiencias">Promover por medio de programas, proyectos e investigaciones la transformación de conflictividades socioambientales como oportunidades de cambio, aportando, de la mano con los sujetos y comunida- des, al desarrollo ecológico y la construcción de paz desde los territorios; esto, a través del trabajo con enfoque diferencial, de inclusión social y de derechos humanos y territoriales. Implementamos estrategias innovadoras y sostenibles dirigidas hacia la conservación y restauración del patrimonio natural y cultural, y además a la promoción de salud y acompañamiento psicosocial, siendo todo inherente al buen vivir y al fortalecimiento del tejido soc</p>
            <div class="borde__azul"></div>
        </div>
    </div>
    <div class="item_experiencia">
        <h2 id="titulo_experiencias" >PROGRAMA EKOPLASTIC</h2>
        <div class="caption_dos_texto">
            <p id="texto_experiencias">El programa Ekoplastic surge de la iniciativa de personas interesadas en contri- buir al desarrollo ambiental y social del municipio de Puerto Asís - Putumayo, de la mano con la comunidad, teniendo como eje principal la Educación Ambiental masiva y de impacto, promoviendo una cultura ciudadana más amigable con el ambiente y sostenible. Desde ECUPAZ apoyamos por medio de la facilitación y articulación de procesos para promover esta alternativa que muestra que el camino es desde la educación y desde lo local.</p>
            <div class="borde__azul"></div>
        </div>
    </div>
</main>
