<h1 class="title"> Recursos </h1>
<main>
    <div class="items-recursos">
        <figure class="ir-pdf">
            <img src="/assets/img/foto18.jpg" alt="ecupaz monos">
            <figcaption>
                <h3>Acta asamblea</h3>
                <i class="fa fa-link"></i>
                <a href="/assets/pdf/acra asamblea.pdf" target="_blank"></a>
            </figcaption>
        </figure>
        <figure class="ir-pdf">
            <img src="/assets/img/foto17.jpg" alt="ecupaz monos">
            <figcaption>
                <h3>Acta de constitución</h3>
                <i class="fa fa-link"></i>
                <a href="/assets/pdf/acta de constitucion.pdf" target="_blank"></a>
            </figcaption>
        </figure>
        <figure class="ir-pdf">
            <img src="/assets/img/foto16.jpg" alt="ecupaz monos">
            <figcaption>
                <h3>Acta Informe de gestión 2019</h3>
                <i class="fa fa-link"></i>
                <a href="/assets/pdf/Acta Informe de gestion 2019.pdf" target="_blank"></a>
            </figcaption>
        </figure>
        <figure class="ir-pdf">
            <img src="/assets/img/foto15.jpg" alt="ecupaz monos">
            <figcaption>
                <h3>Cámara de comercio I</h3>
                <i class="fa fa-link"></i>
                <a href="/assets/pdf/camara de comercio 1.pdf" target="_blank"></a>
            </figcaption>
        </figure>
        <figure class="ir-pdf">
            <img src="/assets/img/foto14.jpg" alt="ecupaz monos">
            <figcaption>
                <h3>Cámara de comercio II</h3>
                <i class="fa fa-link"></i>
                <a href="/assets/pdf/camara de comercio 2.pdf" target="_blank"></a>
            </figcaption>
        </figure>
        <figure class="ir-pdf">
            <img src="/assets/img/foto13.jpg" alt="ecupaz monos">
            <figcaption>
                <h3>Certificado antecedentes judiciales año 2019</h3>
                <i class="fa fa-link"></i>
                <a href="/assets/pdf/CertificadoANTECEDENTESJUDICIALES2019.pdf" target="_blank"></a>
            </figcaption>
        </figure>
        <figure class="ir-pdf">
            <img src="/assets/img/foto12.jpg" alt="ecupaz monos">
            <figcaption>
                <h3>stados financieros 2019</h3>
                <i class="fa fa-link"></i>
                <a href="/assets/pdf/ESTADOS FINANCIEROS 2019.pdf" target="_blank"></a>
            </figcaption>
        </figure>
        <figure class="ir-pdf">
            <img src="/assets/img/foto11.jpg" alt="ecupaz monos">
            <figcaption>
                <h3>Estatutos</h3>
                <i class="fa fa-link"></i>
                <a href="/assets/pdf/estatutos.pdf" target="_blank"></a>
            </figcaption>
        </figure>
        <figure class="ir-pdf">
            <img src="/assets/img/foto10.jpg" alt="ecupaz monos">
            <figcaption>
                <h3>Renta 2019</h3>
                <i class="fa fa-link"></i>
                <a href="/assets/pdf/RENTA 2019.pdf" target="_blank"></a>
            </figcaption>
        </figure>
    </div>
</main>
